@page "{accountId:int}"
@model Basics.Pages.Accounts.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>Account Info: @Model.Account.Name @Model.Account.Lastname</h2>
@if (Model.Message != null) 
{
    <div class="alert alert-info">@Model.Message</div>
}

<div>
    Id: @Model.Account.Id
</div>
<div>
    Age: @Model.Account.Age
</div>
<div>
    Citizenship: @Model.Account.Citizenship
</div>

<a asp-page="./List" class="btn btn-outline-success">Back to Accounts</a>
